.border {
  border-radius: 20px;
}
.icon {
  height: 30px;
  width: 30px;
}
.d-go {
  position: relative;
  top: -260px;
}
.bold{
  font-weight: bold;
}
.h-0{
  height: 0px !important;
}
.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.pos{
  position: relative;
  top: -50px;
}
.bg-s{
  background-color: #f5f5f5;
}
.new{
  height: 50px;
  height: 120px;
}
.ads{
  height: 50px;
  height: 80px;
}
.w-90{
  width: 93%;
}
.text-s{
  font-size: 34px;
}